.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 75%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 55%
    right: 0%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 26%
    right: 45%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


// estilos uso general



// sintesis

.color-sena
  border-left-color: #FF6B00 !important

// Introducción

.color-float
  &::before
    background-color: #BDDCF6 !important
    top:50% !important
    bottom: 25%
.bloque-texto-d 
  border-top: none 

// tema 1

.color-slider
  background-color: #F4F9FD!important

.img-slider
  width: 400px !important
  margin: 0 auto
  margin-top: 3rem

.img-slider2
  width: 600px !important
  margin: 0 auto
  margin-top: 2rem

.img-slider3
  width: 400px !important
  margin: 0 auto
  margin-top: 8rem

.ulslider
  margin-bottom: -1em !important

.fnd-izq
  background-color: #BDDCF6 !important  
  &:before 
    background-color: #E6E7E8!important
    left: 50% !important


.acordion__accion__btn--a
  background-color: #FECA2E !important


.acordion__activo
  background-color: #FFF7DE

.color-fondolinea
  background-color: #E1F1FD !important


.alineacion
  justify-content: center!important
  display: block
  margin-left: 7.1rem
  margin-top: 1rem

.img-linea
  width: 300px 

.img-for
  width: 150px

.img-for1
  width: 400px
  

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot
  &:after
    background-color: #FECA2E

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot
  border-color:  #c4c3c3

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container
  &:before
    background-color: #FECA2E

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container
  &:after
    background-color: #FECA2E
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot
  border-color: #FECA2E

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container
  &:before
    background-color: #FECA2E

// tema 2

.tarjeta.color-acento-botones--borde
  background-color: #D8ECFF !important

.tabs-a__tab
  background-color: #E8E8E8

.alinear
  text-align: justify

.color-barra
  border-left-color: #FECA2E !important

  //modal

.img-infografica-b__modal
  background-color: transparent !important

.colormodal
  background-color:  #D8ECFF  !important
  
.img-infografica-b__modal__contenido div
  color: black !important

.img-infografica-b__modal__btn-cerrar
  right: 2rem
  top: 2rem
  cursor: pointer
  background-color: $color-acento-botones
  border-radius: 50%
  padding: 0.5rem
  transition: .25s
  &:hover
    transform: scale(1.2)
    i
      color: $color-sistema-texto !important

.color-texto, p.color-texto
  color: $color-sistema-texto !important

.img-infografica-b__item
  width: 4.5% !important


// tema 3

.bloque-text-2
  margin-right: 36%

.bloque-texto-g__texto
  width: 60%

.bloque-texto-g__img.ima
  
    width: 42%

.bloque-img-2
  margin-left: 58%

.bloque-texto-g__texto *
  display: inline-block !important

@media screen and ( max-width: 992px )
  .bloque-img-2
    margin-left: 0%
  .bloque-text-2
    margin-right: 11% 
  .bloque-texto-g__img.ima 
    width: 69%
  .bloque-img-2 
    margin-left: 16%

.img-te3
  width: 700px

.color-barra-1
  border-left-color: #4DD0E1 !important

.color-tarjeta-3
  background-color: #C4E2DF

.img-te4
  width: 1200px

.fnd-izq1
  background-color: #BDDCF6 !important  
  &:before 
    background-color: #F0F7FE!important
    left: 50% !important

.color-cajon
  background-color:#EEF6FD !important

.cajon.color-acento-contenido
  &:before
    background-color: #BDDCF6 !important

.img-ta
  width: 600px !important

.color-cajon1
  background-color:#E8E8E8 !important

.color-tar1
  background-color: #FFF2CA


.bloque-text-8.caj
  margin-right: 37%  
.bloque-img-8
  margin-left: 51% 

@media screen and ( max-width: 992px )
  .bloque-img-8
    margin-left: 0%
  .bloque-text-8
    margin-right: 0% 
  .bloque-texto-g__texto
    width: 77% 
  .bloque-text-8.caj 
    margin-right: 12%;

.color-cajon2
  background-color:#FFF2CA !important

.cajon.color-acento-contenido
  &:before
    background-color:#FECA2E !important

.tamanio
  width: 350px

.color-tar-izq
  background-color: #BDDCF6

.slider
  background-color: #F5FAFE !important

.texto-azul
  color: #0F2771

.tabs-a__tab
  padding: 5px 10px