.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 75%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 55%
    right: 0%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 26%
    right: 45%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


// estilos uso general



// sintesis

.color-sena
  border-left-color: #FF6B00 !important

// Introducción

.color-float
  &::before
    background-color: #BDDCF6 !important
    top:50% !important
    bottom: 25%
.bloque-texto-d 
  border-top: none 

// tema 1

.color-slider
  background-color: #F4F9FD!important

.img-slider
  width: 400px !important
  margin: 0 auto
  margin-top: 3rem

.img-slider2
  width: 600px !important
  margin: 0 auto
  margin-top: 2rem

.img-slider3
  width: 400px !important
  margin: 0 auto
  margin-top: 8rem

.ulslider
  margin-bottom: -1em !important

.fnd-izq
  background-color: #BDDCF6 !important  
  &:before 
    background-color: #E6E7E8!important
    left: 50% !important


.acordion__accion__btn--a
  background-color: #FECA2E !important

.tarjeta.acordeonA
  background-color: #FFF7DE

.color-fondolinea
  background-color: #E1F1FD !important


.alineacion
  justify-content: center!important
  display: block
  margin-left: 7.1rem
  margin-top: 1rem

.img-linea
  width: 300px 

.img-for
  width: 150px

.img-for1
  width: 400px
  

.pasos-b.color-acento-contenido .pasos-b__header__item--active .pasos-b__header__item__dot
  border-color: #FECA2E
  background-color:#FECA2E


  

